{% load static %}
<head>
    <link rel="stylesheet" href="{% static "labhome/style.css" %}">
</head>

<body class="members">

<h1>Kimani Lab</h1>
<h2>Cosmology</h2>

<hr>

<table id = "table" style="width:100%">
    <tr bordercolor="#FFFFFF">
        <td width="771" height="336" valign="top"><!-- InstanceBeginEditable name="EditRegion3" -->
            <table width="789" height="68">
                <tr>
                    <td width="499"><p class="style6 style21"><span class="style18">Prof. Jane Kimani</span><br />
                        <br />
                        Principal Investigator<br />
                        Professor of Physics<br />
                        Example U <br />
                    </p>
                        <p class="style6 style21">&nbsp;&nbsp; PhD, Example U, 1994 <br />
                            &nbsp;&nbsp; BS, Example U, 1990 </p>
                        <p class="style6 style21"><a href="../www/background.html">Background</a>&nbsp</a></p>
                        <a class="button" href="http://localhost:8888/facultii_demo/jane-kimani/">Contact</a>
                    </td>
                    <td width="276"><img src="{% static "labhome/images/Kimani.jpg" %}" alt="" class="crop" /></td>
                </tr>
            </table>
            <br />
            <hr />
            <hr />
            <table width="789" height="239">
                <tr>
                    <td width="499" height="233" valign="top"><p class="style6 style21"><span class="style18">Luke Walker </span><br />
                        <br />
                        Postdoctoral Associate<br />
                        <br />
                        &nbsp;&nbsp; PhD, Example U, 2015 <br />
                        &nbsp;&nbsp; BS, Example U, 2009 </p>
                        <p class="style6 style21">Research Emphasis: Plasma physics </p>
                    <a class="button" href="/">Contact</a>
                    </td>
                    <td width="276" valign="top"><p><img src="{% static "labhome/images/Walker.jpg" %}" class="crop" alt=""/></p></td>
                </tr>
            </table>
            <hr />
            <hr />
            <table width="789" height="239">
                <tr>
                    <td width="499" height="233" valign="top"><p class="style6 style21"><span class="style18">Felix Xu </span><br />
                        <br />
                        Graduate Student<br />
                        <br />
                        &nbsp;&nbsp; BS, Example U, 2016 <br />
                        &nbsp;&nbsp;</p>
                        <p class="style6 style21">Research Emphasis: Gravitational Waves.</p>
                    <a class="button" href="/">Contact</a>
                    </td>
                    <td width="276" valign="top"><p><img src="{% static "labhome/images/Xu.jpg" %}" class="crop" /></p></td>
                </tr>
            </table>
        </td>
        <th valign="top" width="100">
            <p><a href="/">Home</a></p>
            <p><a href="/npt">Research</a></p>
            <p><a href="#">PI Bio</a></p>
            <p><a id="members" href="/members">Members</a></p>
            <p><a href="#">Positions</a></p>
            <p><a href="#">Gallery</a></p>
        </th>
    </tr>
</table>

</body>